/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Fonts */
    --font-roboto: 'Roboto', sans-serif;

    /* Colors */
    --color-FFFFFF: #FFFFFF;
    --color-F7F7F7: #F7F7F7;
    --color-C3D9F0: #C3D9F0;
    --color-29ABE2: #29ABE2;
    --color-3D51A3: #3D51A3;
    --color-1C199A: #1C199A;
    --color-292F53: #292F53;
    --color-0F1A3A: #0F1A3A;
    --color-000000: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; 
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-F7F7F7);
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}