#footer {
    width: 100%;
    background-color: var(--color-FFFFFF);
}

.footer-cont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    background-color: var(--color-FFFFFF);
    gap: 3rem;
}

.footer-cont .fc-img-sec {
    width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    transform: scale(1.1);
    margin-left: 5rem;
}

.footer-cont .fc-img-sec .fc-is-img-cont {
    width: 285px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-cont .fc-img-sec .fc-is-img-cont img {
    width: 100%;
    height: auto;
}

.footer-cont .fc-img-sec .fc-is-text-cont {
    font-family: var(--font-roboto);
    font-size: 1rem;
    font-weight: 500;
    word-spacing: 2px;
    color: var(--color-0F1A3A);
    text-align: left;
    text-transform: capitalize;
    line-height: 23px;
    margin-top: 0px;
    margin-right: 5rem;
}

.footer-cont .fc-links-sec {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.footer-cont .fc-links-sec .fc-ls-scroll-highlight-links,
.footer-cont .fc-links-sec .fc-ls-other-page-navigation-links,
.footer-cont .fc-links-sec .fc-ls-social-media-links,
.footer-cont .fc-links-sec .fc-ls-contact-details {
    flex: 1;
    min-width: 200px;
}

.footer-cont .fc-links-sec .fc-ls-scroll-highlight-links,
.footer-cont .fc-links-sec .fc-ls-other-page-navigation-links {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    list-style: none;
}

.footer-cont .fc-links-sec .fc-ls-scroll-highlight-links li a,
.footer-cont .fc-links-sec .fc-ls-other-page-navigation-links li a {
    font-family: var(--font-roboto);
    font-size: 1.1rem;
    font-weight: 400;
    word-spacing: 2px;
    color: var(--color-0F1A3A);
    text-align: left;
    text-transform: capitalize;
    line-height: 25px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer-cont .fc-links-sec .fc-ls-scroll-highlight-links li a:hover,
.footer-cont .fc-links-sec .fc-ls-other-page-navigation-links li a:hover {
    color: var(--color-1C199A);
    transition: all 0.3s ease-in-out;
}

.footer-cont .fc-links-sec .fc-ls-social-media-links {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.footer-cont .fc-links-sec .fc-ls-social-media-links .fc-ls-sml-title {
    font-family: var(--font-roboto);
    font-size: 1.4rem;
    font-weight: 500;
    word-spacing: 2px;
    color: var(--color-3D51A3);
    text-align: left;
    text-transform: capitalize;
    line-height: 25px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.footer-cont .fc-links-sec .fc-ls-social-media-links .fc-ls-sml-instagram,
.footer-cont .fc-links-sec .fc-ls-social-media-links .fc-ls-sml-linkedin {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.footer-cont .fc-links-sec .fc-ls-social-media-links a img {
    width: 100%;
    height: 100%;
}

.footer-cont .fc-links-sec .fc-ls-page-links {
    display: flex;
    gap: 3rem;
}

.footer-cont .fc-links-sec .fc-ls-contact-details {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.footer-cont .fc-links-sec .fc-ls-contact-details .fc-ls-cd-title {
    font-family: var(--font-roboto);
    font-size: 1.4rem;
    font-weight: 500;
    word-spacing: 2px;
    color: var(--color-3D51A3);
    text-align: left;
    text-transform: capitalize;
    line-height: 25px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.footer-cont .fc-links-sec .fc-ls-contact-details p {
    font-family: var(--font-roboto);
    font-size: 1.1rem;
    font-weight: 400;
    word-spacing: 2px;
    color: var(--color-0F1A3A);
    text-align: left;
    text-transform: capitalize;
    line-height: 25px;
    margin: 0;
}

.footer-cont .fc-links-sec .fc-ls-contact-details a {
    color: var(--color-0F1A3A);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.footer-cont .fc-links-sec .fc-ls-contact-details a:hover {
    color: var(--color-1C199A);
}

/* Media Queries */
@media screen and (min-width: 1080px) and (max-width: 1179px) {
    .footer-cont .fc-img-sec {
        width: 30vw;
    }
}

@media screen and (min-width: 892px) and (max-width: 1108px) {
    .footer-cont .fc-links-sec .fc-ls-contact-details {
        margin-left: -15rem;
    }
}

@media screen and (min-width: 900px) and (max-width: 1079px) {
    .footer-cont {
        flex-direction: column;
        gap: 4rem;
        align-items: flex-start;
        justify-content: center;
        padding: 5rem 5rem;
    }

    .footer-cont .fc-links-sec .fc-ls-contact-details {
        margin-left: 0;
        width: 100%;
    }

    .footer-cont .fc-img-sec .footer-cont {
        width: 30vw;
        min-width: 320px;
    }

    .footer-cont .fc-links-sec {
        gap: 3rem;
    }

    .footer-cont .fc-links-sec .fc-ls-page-links {
        gap: 3rem;
    }
}

@media screen and (min-width: 865px) and (max-width: 899px) {
    .footer-cont {
        flex-direction: column;
        gap: 4rem;
        align-items: flex-start;
        justify-content: center;
        padding: 5rem 5rem;
    }

    .footer-cont .fc-img-sec {
        width: 30vw;
        min-width: 320px;
    }

    .footer-cont .fc-links-sec {
        gap: 3rem;
    }

    .footer-cont .fc-links-sec .fc-ls-page-links {
        gap: 3rem;
    }

    .footer-cont .fc-links-sec .fc-ls-contact-details {
        margin-left: 0;
        width: 100%;
    }
}

@media screen and (min-width: 565px) and (max-width: 864px) {
    .footer-cont {
        flex-direction: column;
        gap: 4rem;
        align-items: flex-start;
        justify-content: center;
        padding: 5rem 5rem;
    }

    .footer-cont .fc-img-sec {
        min-width: 320px;
        width: 100%;
    }

    .footer-cont .fc-links-sec {
        width: 100%;
        justify-content: space-between;
        gap: 1rem;
    }

    .footer-cont .fc-links-sec .fc-ls-page-links {
        gap: 1rem;
    }

    .footer-cont .fc-links-sec .fc-ls-contact-details {
        margin-left: 0;
        width: 100%;
    }
}

@media screen and (min-width: 488px) and (max-width: 564px) {
    .footer-cont {
        flex-direction: column;
        gap: 4rem;
        align-items: flex-start;
        justify-content: center;
        padding: 5rem 5rem;
    }

    .footer-cont .fc-img-sec {
        min-width: 320px;
        width: 100%;
    }

    .footer-cont .fc-links-sec {
        width: 100%;
        justify-content: space-between;
        gap: 2rem;
    }

    .footer-cont .fc-links-sec .fc-ls-page-links {
        flex-direction: column;
        gap: 0.7rem;
    }

    .footer-cont .fc-links-sec .fc-ls-contact-details {
        margin-left: 0;
        width: 100%;
    }
}

@media screen and (min-width: 350px) and (max-width: 487px) {
    .footer-cont {
        flex-direction: column;
        gap: 4rem;
        align-items: flex-start;
        justify-content: center;
        padding: 5rem 2rem;
    }

    .footer-cont .fc-img-sec .fc-is-img-cont {
        width: 235px;
        height: auto;
        overflow: hidden;
    }

    .footer-cont .fc-img-sec .fc-is-text-cont {
        width: 290px;
        font-size: 0.95rem;
    }

    .footer-cont .fc-links-sec {
        position: relative;
        gap: 2rem;
        justify-content: space-between;
        width: 100%;
    }

    .footer-cont .fc-links-sec .fc-ls-page-links {
        flex-direction: column;
        gap: 0.7rem;
    }

    .footer-cont .fc-links-sec .fc-ls-contact-details {
        margin-left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 349px) {
    #footer {
        display: none;
    }
}

@media screen and (max-height: 349px) {
    #footer {
        display: none;
    }
}
