/* sain.css */

/* Global styles */
.sain-container {
    font-family: 'Roboto', sans-serif;
    margin-top: 80px;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: #0F1A3A;
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
}

.header-text {
    flex: 1;
    max-width: 50%;
    padding-right: 20px;
}

.header h1 {
    color: black;
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 5px;
}

.header h2 {
    font-size: 20px;
    font-weight: 900;
    text-transform: capitalize;
    text-align: left;
    margin-top: 30px;
    color: #0F1A3A;
}

.header p {
    font-size: 18px;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 26px;
    text-align: justify;
    margin-top: 30px;
}

.header .underline {
    width: 400px;
    height: 5px;
    background: #3D51A3;
    border-radius: 10px;
    margin-bottom: 10px;
}

.header-image {
    position: absolute;
    top: -50px;
    right: -300px;
}

.header-image img {
    width: 603px;
    height: 559px;
    border-radius: 0 0 9999px 9999px;
    object-fit: cover;
}

.sain-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

/* Styles for SainCard */
.sain-card {
    border-top: 7px solid;
    border-radius: 5px;
    padding: 20px 30px;
    width: 350px;
    min-height: px; /* Increase card height */
    text-align: left;
    position: relative;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    display: flex; /* Align items horizontally */
}

.sain-card-image {
    width: 50px; /* Adjust image size as needed */
    height: auto;
    margin-right: 20px; /* Spacing between image and content */
}

.sain-card-content {
    flex: 1; /* Take remaining space */
}

.sain-card-title {
    font-size: 22px;
    font-weight: 500;
    color: #0F1A3A;
    margin-bottom: 10px; /* Reduce margin */
}

.sain-card-description {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px; /* Increase margin */
    color: #707071;
}

.sain-card-button {
    background-color: #3D51A3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
