#apply {
    width: 100%;
    background-color: var(--color-F7F7F7);
}

.apply-cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 180px 0px 200px 0px;
    gap: 4rem
}

.apply-cont .ac-title {
    font-size: 2.3rem;
    font-weight: 500;
    font-family: var(--font-roboto);
    color: var(--color-292F53);
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.apply-cont .ac-title::after {
    content: "";
    display: block;
    width: 250px;
    height: 4px;
    border-radius: 3px;
    background-color: var(--color-3D51A3);
    margin: 10px auto;
}

.apply-cont .ac-card-cont {
    width: 90vw;
    max-width: 996px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 4rem;
}

.apply-cont .ac-card-cont .ac-cc-card {
    width: 300px;
    height: 100px;
    background-color: var(--color-FFFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 0px 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

.apply-cont .ac-card-cont .ac-cc-card .ac-cc-card-cont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apply-cont .ac-card-cont .ac-cc-card .ac-cc-card-cont .ac-cc-cc-title {
    width: 200px;
    height: 100%;
    padding-left: 18px;
    display: flex;
    align-items: center;
    font-family: var(--font-roboto);
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-292F53);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
    position: relative;
}

.apply-cont .ac-card-cont .ac-cc-card .ac-cc-card-cont .ac-cc-cc-title::after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    border-radius: 3px;
    background-color: var(--color-FF9201);
    position: absolute;
    left: 18px;
    bottom: 30px;
}

.apply-cont .ac-card-cont .ac-cc-card .ac-cc-card-cont .ac-cc-cc-title.double-line::after {
    bottom: 15px;
}

.apply-cont .ac-card-cont .ac-cc-card .ac-cc-card-cont .ac-cc-cc-button {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 0px 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-292F53);
}

.apply-cont .ac-card-cont .ac-cc-card .ac-cc-card-cont .ac-cc-cc-button:hover {
    background-color: var(--color-1C199A);
    transition: all 0.3s ease-in-out;
}

.apply-cont .ac-card-cont .ac-cc-card .ac-cc-card-cont .ac-cc-cc-button img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.apply-cont .ac-card-cont .ac-cc-card .ac-cc-card-cont .ac-cc-cc-button:hover img {
    transform: rotate(180deg);
}

.apply-cont .ac-card-cont .ac-cc-card .ac-cc-card-cont .ac-cc-cc-button img {
    transition: transform 0.3s ease-in-out;
}

.apply-cont .ac-card-cont .ac-cc-card .ac-cc-card-cont .ac-cc-cc-button:hover img {
    transform: rotate(180deg);
}

.apply-cont .ac-card-cont .ac-cc-card .ac-cc-card-cont .ac-cc-cc-button img:hover {
    animation: none;
}

.apply-cont .ac-card-cont .ac-cc-card .ac-cc-card-cont .ac-cc-cc-button:not(:hover) img {
    animation: rotateBack 0.3s ease-in-out;
}

@media screen and (min-width: 720px) and (max-width: 1106px) {
    .apply-cont .ac-card-cont {
        max-width: 648px;
    }
}

@media screen and (min-width: 350px) and (max-width: 719px) {
    .apply-cont .ac-card-cont {
        max-width: 300px;
    }
}

@media screen and (max-width: 599px) {
    .apply-cont .ac-title {
        font-size: 1.9rem;
    }  

    .apply-cont .ac-title::after {
        width: 190px;
    }
}

@media screen and (max-width: 349px) {
    #apply {
        display: none;
    }
}

@media screen and (max-height: 349px) {
    #apply {
        display: none;
    }
}