#small-screen {
    display: none;
}

#small-screen {
    width: 100%;
    height: 100vh;
    background-color: var(--color-F7F7F7);
}

.ss-cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ss-cont .ss-img-cont {
    width: 70%;
    height: auto;
}

.ss-cont .ss-img-cont img {
    width: 100%;
    height: 100%;
}

.ss-cont .ss-text-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--roboto-font);
}

.ss-cont .ss-text-cont .ss-tc-title {
    margin-top: -40px;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-0F1A3A);
}

.ss-cont .ss-text-cont .ss-tc-msg {
    font-size: 0.9rem;
    color: var(--color-292F53);
}

@media screen and (max-width: 349px) {
    #small-screen {
        display: block;
    }
}

@media screen and (max-width: 199px) {
    .ss-cont .ss-text-cont {
        display: none;
    }
}